body{
    background-color: #F6F6F6 !important;
    
}

#footer{
    margin-top: 20px;
    text-align: center;
}

.content-info-candidato{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel{
    border:none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    background-color: #F6F6F6 !important;
}

.panel-search, .panel-twitter{
    padding-right: 0px !important; 
    padding-left: 0px !important; 
}
.panel-twitter {
    padding-top: 20px;
}

.panel-agic > .panel-heading{
    background-color: #169EAB !important;
    color: #FFFFFF;
}

.panel-agic > .panel-heading h3{
    font-weight: bold;
    
}

.panel-agic > .panel-body{
    background-color: #FFFFFF;
    border: solid 1px #ddd !important;
    border-top:none !important
}

.img-candidato{
    margin-bottom: 10px;
}

.mentionsContent, .tweetsContent{
    padding-left: 5px;
    padding-right:5px;    
}

.mentionsContent .tweetDate:last-child, .tweetsContent .tweetDate:last-child{
    border:none;
    margin-bottom:0;
}

.tweetDate{
    padding-bottom:5px;
    padding-top:5px;
    border-bottom: solid 1px #CCC;
    margin-bottom: 5px;
    font-weight: bold;
}

.contentNews{
    margin-top: 10px;
}

@media (max-width: 767px) {
    span.col-xs-12.text-right{
        text-align: left !important;
        margin-top: 5px;
    }
}

/* LAYOUT */

/* MENU */
.navbar{
    background-color: #252E30 !important;
    border-bottom: none;
    border-radius: 0px !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #E7E7E7 !important;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    color: #3A3A3A!important;
    background-color: #E7E7E7 !important;
}

.navbar a{
    color: #EFEFEF !important;
}

.navbar a:hover{
    text-decoration: underline !important;
}
/* FIM MENU */

/*BreadCumb*/
.breadcrumb {
    background-color: #404E51 !important;
    border-radius: 0px !important;
}

.breadcrumb a, .breadcrumb .active, .breadcrumb{
    color: #FFFFEC !important;
}

.breadcrumb a{
    text-decoration: underline !important;
}
/**/

.btn{
    border-radius: 0px !important;
}

.well{
    background-color: #FFFFFF !important;
    border-radius: 0px !important;
}

thead{
    background-color: #169EAB !important;
    color: #FFFFFF !important;
    border:none !important; 
}

thead a{
    color: #FFFFFF !important;
}

tbody{
    border: solid 1px #ddd !important;
    border-top:none !important;
}

tbody td{
    background-color: #FFFFFF !important;
}

tbody tr:hover td{
    background-color: #eee !important;
}

.pagination{
    border-radius: 0px !important;
}

.pagination>li:first-child>a, .pagination>li:last-child>a{
    border-radius: 0px !important;
}

.nav-tabs>li.active>a{
    background-color: #2E3539 !important;
    color: #FFFFFF !important;
    border: none !important;
}

.nav-tabs>li>a{
    background-color: #404E51 !important;
    color: #FFFFFF !important;
    border-radius: 0px !important;
    border: none !important;
}

.contentNews{
    border-bottom: solid 1px #CCC;
    padding-bottom: 10px;
}
.contentNews-divider div:last-child{
    border-bottom: none !important;
}

.mentionsContent div, .tweetsContent div{
    padding-left: 15px;
    padding-right: 15px;
}

.integrantes-content h4{
    color: #169EAB
}